.button
 {
    -fx-background-color: transparent;
    -fx-alignment:center-left;
    -fx-border-width:0px;
    -fx-background-radius:0;
 }

.button:hover
{
    -fx-background-color:#AEABCA;
    -fx-blend-mode: multiply;
}

#plus_button
{
    -fx-background-color:#57f271;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#aula_save
{
    -fx-background-color:#57f271;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#aula_cancel
{
    -fx-background-color:#f9406f;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#assig_save
{
    -fx-background-color:#57f271;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#assig_cancel
{
    -fx-background-color:#f9406f;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#pe_save
{
    -fx-background-color:#57f271;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#pe_cancel
{
    -fx-background-color:#f9406f;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#edit_button
{
    -fx-background-color:#AEABCA;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#delete_button
{
    -fx-background-color:#f9406f;
    -fx-alignment:center;
    -fx-background-radius:30;
}

#iconmenu
{
    -fx-background-color:#AEABCA;
    -fx-blend-mode: darken;
}

#menu
{
    -fx-background-color:#D1D1D9;
}

.table-cell {
    text-align: center;
}

.table-column {
    -fx-alignment: center;
}
